<!--My attempts in technology. DELETE IF IN PRODUCTION!-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DELETE IF IN PROD!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <br>


    <br>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#x_button">PUSH ME</a>
        </div>

<!-- Modal -->
<div class="modal fade" id="x_button" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать новый проект</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="">
                    <div class="modal-body">
                            <div class="mb-3">
                                <label for="X_Name" class="form-label">Название X</label>
                                <input type="text" class="form-control" id="X_Name" name="X_Name">
                            </div>
                    </div>
                        <div class="modal-footer">
                            <input type="submit" value="Сохранить" class="btn btn-primary">
                        </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>